.container_songSelection {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container-menu {
  position: relative;
}

.menu_dropDown {
  position: absolute;
  top: 100%;
  left: 8px;
  background: rgba(226, 225, 225, 0.568);
  box-shadow: 0 3px 6px rgba(153, 153, 153, 0.473);
  min-width: 160px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.menu_dropDown.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

ul {
  list-style: none;
  padding: 2px;
  margin: 2px;
}

li {
  border-bottom: 1px solid #d3ceced0;
}

li:last-child {
  border-bottom: none;
}

a {
  display: block;
  padding: 10px 15px;
  color: #0c0b0bd3;
  text-decoration: none;
  transition: background-color 0.2s;
}

a:hover {
  background-color: #9286863d;
}

.icon_container {
  display: flex;
  margin-bottom: 16px;
  cursor: pointer;
  padding: 5px;
  margin-top: 20px;
  gap: 5px;
}

.icon_menu {
  background-image: url('src/assets/icons/menu.svg');
}

.icon_home {
  background-image: url('src/assets/icons/home.svg');
}

.container_songSelection svg {
  width: 20px;
  height: 30px;
  justify-content: center;
  background-size: cover; /* Ajusta según sea necesario */
  background-position: center;
  cursor: pointer;
  padding: 10px;
  padding-right: 30px;
  margin: 5px;
}

.songSelection_Tittle {
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  margin-left: -10px;
  margin-top: 10px;
  width: auto;
}

.song_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 20px;
  width: auto;
}

.card_content,.card {
  display: flex;
}

.song_card {
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #c5c0c0; /* Fondo gris para cada tarjeta */
  gap: 5px;
  font-size: 20px;
  padding: 5px;
  margin: 2px; /*espaciado entre tarjetas*/
  width: 700px;
  height: 47px;
}

.song_card:hover {
  background-color: #99ea99;
}

/*no me funciona*/
.card_content.selected {
  border: #333 2px solid;
}

.song_name {
  flex: 1;
  margin-left: 20px;
}

.song_duration {
  font-size: 18px;
  margin-right: 3px;
  text-align: right;
  margin-right: 10px;
}

.strong {
  color: #14863e
}

.song_playIcon {
  display: flex;
  align-self: center;
  color: #22c55e; /*no hace caso*/
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 1px;
  margin: 1px;
  margin-left: 5px;
  background-image: url('src/assets/icons/play-button.svg');
  background-size: cover;
}

.song_trashIcon {
  display: flex;
  align-self: center;
  color: #22c55e; /*no hace caso*/
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 1px;
  margin: 1px;
  margin-left: 5px;
  background-image: url('src/assets/icons/garbage-basket.svg');
  background-size: cover;
}

.song_trashIcon:hover {
  color: red; /* no funciona*/
}

.btn_selectSong {
  display: flex;
  width: 400px;
  align-self: center;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  justify-content: center;
  background-color: #22c55e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}