



.container_songSelection {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin:0;
    width: 100%;
    height: 100%;
}

  /* Encabezado con iconos de Home y Menú */
  .icons_songSelection {
    display: flex;
    justify-content: left;
    margin-bottom: 16px;
    gap: 10px;
    margin-left: 20px;
    cursor: pointer;
    width:120px;
    height: 80px;

  }




  .songSelection_Tittle {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    
  }

  /* Lista de canciones */
  .song_list {
    width: auto;
    margin: auto;
    margin-top: 120px ;
    justify-content: center;
    padding: auto;
    
  }

  

  /* Estilos de las tarjetas de canciones */
  .song_card {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
    background-color: #c5c0c0; /* Fondo gris para cada tarjeta */
    width: 900px;/* Ajuste de tamaño de tarjeta */
    gap: 5px; /* Espaciado entre la dificultad y el botón Play */
    font-size: 20px;
    margin:auto;
    margin-bottom: 5px; /*espaciado entre tarjetas*/
  }


  .song_card:hover {
    background-color: #99ea99;;
  }



.song_name {
  flex: 1;
  text-align: left;
  margin-left: 20px;
}


.song_difficulty {
  font-size: 18px;
  margin-right: 3px;
  
}

.song_playIcon {
  color: #22c55e;
  width: 30px;
  height: 30px;
  margin-right: -30px;
  cursor: pointer;
}


button {
    display: flex;
    width: 400px;
    align-self: center;
    margin: 50px;
    padding: 10px;
    font-size: 16px;
    justify-content: center;
    background-color: #22c55e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }