.container_songSelection {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  width: 100%;
  height: 100%;
  
}


.icon_container {
  display: flex;
  margin-bottom: 16px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  justify-content: left;
  gap: 5px;
  
}
.icon_menu {
  background-image: url('src/assets/icons/menu.svg');
  background-size: cover; /* Ajusta según sea necesario */
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  
}
.icon_home {
  background-image: url('src/assets/icons/home.svg');
  background-size: cover; /* Ajusta según sea necesario */
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  
}

.icon {
  display: flex;
  margin-bottom: 16px;
  margin-left: 20px;   
  cursor: pointer;
  width:50px;
  height: 50px;
  padding: 2px;
  margin: 2px;
  justify-content: center;
}

.icon:last-child {
  margin-right: 0;
  /* Remove margin from the last icon */
}


.songSelection_Tittle {
  display: flex;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: center;
  align-items: center; /*me daba error x consola si ponia auto*/
  padding: 20px;
  margin: 20px;
  margin-top: 10px;
  width: auto;

}


.song_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin: 20px;
  width: auto;
}


.card_content, .card  {
  padding: 0px;
  margin: 0px;
  width: auto;
  display: flex;
  
}


.song_card {
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #c5c0c0;/* Fondo gris para cada tarjeta */
  gap: 5px;
  font-size: 20px;
  padding: 5px;
  margin: 2px;/*espaciado entre tarjetas*/
  width: 700px;
  height: 47px;
}

.song_card:hover {
  background-color: #99ea99;
}


/*no me funciona*/
.card_content.selected {
  border-color: #072c15;
  
}


.song_name {
  flex: 1;
  text-align: left;
  margin-left: 20px;
}


.song_difficulty {
  font-size: 18px;
  margin-right: 3px;
  text-align: right;
  margin-right: 10px;

}

.song_playIcon {
  color: #22c55e;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 1px;
  margin: 1px;
  background-image: url('src/assets/icons/play-button.svg');
  background-size: cover; /* Ajusta según sea necesario */
  background-repeat: no-repeat;
  background-position: center;

}
.song_playIcon:hover {
  fill:#2225c5
}
.song_playIcon.selected {
  color: #2225c5;
}

.btn_selectSong {
  display: flex;
  width: 400px;
  align-self: center;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  justify-content: center;
  background-color: #22c55e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}