.container_songSelection {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 80%;
  }

  /* Encabezado con iconos de Home y Menú */
  .icons_songSelection {
    display: flex;
    justify-content: left;
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
  }

  .songSelection_Tittle {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;

  }

  /* Lista de canciones */
  .song-list {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  /* Estilos de las tarjetas de canciones */
  .song-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
    background-color: #c5c0c0; /* Fondo gris para cada tarjeta */
    width: 100%;
  }


  .song-card.hover {
    background-color: #99ea99;;
  }

.song-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
}


.song-name {
  flex: 1;
  text-align: left;
}

.song-right {
  display: flex;
  align-items: center;
  gap: 5px; /* Espaciado entre la dificultad y el botón Play */
  justify-content: flex-end;
  white-space: nowrap;
}

.song-difficulty {
  font-size: 14px;
}

.song-play-icon {
  color: #22c55e;
  width: 30px;
  height: 30px;
}

.select-song-button {
  margin-top: 30px;
  padding: 6px 15px;
  font-size: 14px;
  background-color: #22c55e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

  